h2 {
	margin: 10px;
	padding: 5px;
}

ul {
	padding-left:20px;
}

.card {
	padding: 5px;
	margin: 10px;
	border: 1px solid silver;
  	overflow: auto;
  	position: relative;
}

.complete {
	color:gray;
	text-decoration: line-through;
}

.labellist {
	padding-left:0px;
}

.badge {
	list-style-type: none;
	display: inline;
	padding:5px;
	margin:2px;
	color:white;
}

.list-name .card-url {
	padding:5px;
	margin:2px;
}

.green { 
	background-color:green;
}

.yellow { 
	background-color:yellow;
}

.orange {
	background-color:orange;
}

.red {
	background-color: red;
}

.purple {
	background-color: purple;
}

.blue {
        background-color: blue;
}

.sky {
        background-color: skyblue;
}

.lime {
        background-color: lime;
}

.pink {
        background-color: pink;
}

.black {
        background-color: black;
}