body {
  font-family: sans-serif;
  font-size: 14px;
  background-color: silver;
  padding: 0px;
  margin: 0px;
}

h1 {
	margin: 10px;
}

.card {
	padding: 10px;
	margin: 10px;
	border: 1px solid silver;
  	background-color: white;
  	overflow: auto;
  	position: relative;
}

.description {
	float:left;
	width: 47%;
	border-right: solid silver 1px;
	padding-right: 1%;
}

.now {
	border-bottom: solid silver 1px;
}

.future {

}

.meta {
	clear:both;
}

.checklists {
	float:right;
	width: 47%;
	padding-left: 2%;
}

.checklist {
	padding-left: 5px;
}

.complete {
	color:gray;
	text-decoration: line-through;
}

.labellist {
	padding-left:0px;
}

.label {
	list-style-type: none;
	display: inline;
	padding:5px;
	margin:2px;
	color:white;
	background-color: silver;
}

.list-name .card-url {
	padding:5px;
	margin:2px;
}

.green { 
	background-color:green;
}

.yellow { 
	background-color:yellow;
}

.orange {
	background-color:orange;
}

.red {
	background-color: red;
}

.purple {
	background-color: purple;
}

.blue {
        background-color: blue;
}

.sky {
        background-color: skyblue;
}

.lime {
        background-color: lime;
}

.pink {
        background-color: pink;
}

.black {
        background-color: black;
}